$main-color: #275EAF;
$sub-color: #3B60B6;
$third-color: #74A9E8;
$secondary-color: #7489A4;

$footer-padding: 1rem 1.5rem;
$subtitle-negative-margin: -0.8rem;
$box-shadow: 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14);

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import '../node_modules/bulma/bulma';

$not-font: 'Noto Sans JP';

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

a {
  color: $main-color;
  &:hover {
    color: $secondary-color;
  }
}

.navbar-menu {
  justify-content: center;
  a {
    color: $main-color;
    &:hover {
      color: $secondary-color;
    }
  }
}

.p-wrapper {
  &__header {
    margin: 20px 0 0;
  }
  &__footer {
    margin-top: 40px;
  }
}

.p-header {
  &__title {
    font-family: $not-font;
    color: $main-color;
    letter-spacing: 0.5rem;
  }
  &__subtitle {
    font-family: $not-font;
    margin-top: 5px;
    color: $secondary-color;
  }
  &__icon {
    font-size: 1.0rem;
    margin: 0 5px;
  }
  &__menu {
    justify-content: center;
    &Item {
      padding: 5px 10px 0px;
    }
  }
}

.p-footer {
  &__profile {
    align-items: center;
    &Text {
      font-size: 0.8rem;
      margin-left: 20px;
    }
    &Name {
      font-size: 0.9rem;
      color: $main-color;
    }
    &SubTitle {
      font-size: 0.7rem;
      color: $secondary-color;
      margin-bottom: 4px;
    }
  }
  &__copy {
    margin-top: 10px;
    color: $secondary-color;
    font-size: 0.9rem;
  }
}
.p-box {
  &Title {
    font-family: $not-font;
  }
}

.p-page {
  &__item {
    padding: 5px 10px;
  }
}

.p-share {
  &Title {
    color: $secondary-color;
  }
  &Button {
    margin: 4px;
    cursor: pointer;
  }
}
.p-comment {
  margin-top: 20px;
}

.u-pablished {
  color: $secondary-color;
}

.u-tag {
  &__hash {
    background-color: $sub-color !important; 
    color: #FFF !important;
  }
}


.p-post {
  &__title {
    font-family: $not-font;
    color: $main-color;
    line-height: 1.2;
  }
  &__date {
    color: $secondary-color;
  }
  h1 {
    font-size: 2.5rem;
    margin: 2.5rem 0 0.8rem;
  }
  h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid $third-color;
    margin: 2.5rem 0 0.8rem;
  }
  h3 {
    font-size: 1.2rem;
    margin: 2.5rem 0 0.8rem;
  }
  h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 2.5rem 0 0.8rem;
  }
  h5 {
    font-size: 1rem;
    margin: 2.5rem 0 0.8rem;
  }


  ul, ol {
    padding: 0.2em 1em;
    list-style-type: disc;
    margin-bottom: 0.5rem;
  }
  
  li {
    line-height: 1.5;
    padding: 0.2em 0.5;
    margin-bottom: 1.0rem;
  }

  p {
    line-height: 1.7;
    margin-bottom: 1.5rem;
  }

  br {
    display: block;
  }
}