$main-color: #275EAF;
$sub-color: #3B60B6;
$third-color: #74A9E8;
$secondary-color: #7489A4;

$footer-padding: 1rem 1.5rem;
$subtitle-negative-margin: -0.8rem;

@import '../node_modules/bulma/bulma';

a {
  color: $main-color;
  &:hover {
    color: $secondary-color;
  }
}

.navbar-menu {
  justify-content: center;
  a {
    color: $main-color;
    &:hover {
      color: $secondary-color;
    }
  }
}

.p-wrapper {
  &__header {
    margin: 20px 0 0;
  }
  &__footer {
    margin-top: 40px;
  }
}

.p-header {
  &__title {
    color: $main-color;
    letter-spacing: 0.5rem;
  }
  &__subtitle {
    margin-top: 5px;
    color: $secondary-color;
  }
  &__icon {
    font-size: 1.0rem;
    margin: 0 5px;
  }
  &__menu {
    justify-content: center;
    &Item {
      padding: 5px 10px 0px;
    }
  }
}

.p-footer {
  &__profile {
    align-items: center;
    &Text {
      font-size: 0.8rem;
      margin-left: 20px;
    }
    &Name {
      font-size: 0.9rem;
      color: $main-color;
    }
    &SubTitle {
      font-size: 0.7rem;
      color: $secondary-color;
      margin-bottom: 4px;
    }
  }
  &__copy {
    margin-top: 10px;
    color: $secondary-color;
    font-size: 0.9rem;
  }
}

.p-page {
  &__item {
    padding: 5px 10px;
  }
}

.u-pablished {
  color: $secondary-color;
}

.u-tag {
  &__hash {
    background-color: $sub-color !important; 
    color: #FFF !important;
  }
}


.p-post {
  &__title {
    color: $main-color;
  }
  &__date {
    color: $secondary-color;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
    border-bottom: 2px solid $third-color;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  h5 {
    font-size: 1.2rem;
  }

  ul, ol {
    padding: 0.2em 1em;
    list-style-type: disc
  }
  
  li {
    line-height: 1.5;
    padding: 0.2em 0.5;
  }
}