$main-color: #275EAF;
$sub-color: #3B60B6;
$third-color: #74A9E8;
$secondary-color: #7489A4;

$footer-padding: 1rem 1.5rem;

@import '../node_modules/bulma/bulma';

a {
  color: $main-color;
  &:hover {
    color: $secondary-color;
  }
}

.p-wrapper {
  &__header {
    margin: 20px 0 40px;
  }
  &__footer {
    margin-top: 40px;
  }
}

.p-header {
  &__title {
    color: $main-color;
  }
  &__subtitle {
    color: $secondary-color;
  }
}

.u-pablished {
  color: $secondary-color;
}

.u-tag {
  &__hash {
    background-color: $sub-color !important; 
    color: #FFF !important;
  }
}